extends ../layouts/default
include ../mixins/circlePicture


//block content
//	.container
//		h1.about__header About our nurses
//		each nurse in nurses
//			.two-column-layout
//				+circleHead(nurse.image, nurse.name)
//				h2.about__names= nurse.name
//				.description= nurse.description

block content
	.container
		.about__left-column
			h1.about__header About NuYu Aesthetics
			.about__description!= about.aboutNuYu
				
			.about_mobile_nurses
				h1.about__header Meet the team
				each nurse in nurses
					.about__nurse
						+circleHead(nurse.image, nurse.name)
						.about__head-name= nurse.name
						.about__head-role Nurse Practitioner
					
			hr
		
			h2.text-center Our Nurses
			.about__description!= about.aboutNurses
				
		
		.about__right-column
			.about__meet-the-team
				h1.about__header Meet the team
				each nurse in nurses
					+circleHead(nurse.image, nurse.name)
					.about__head-name= nurse.name
					.about__head-role Nurse Practitioner

block js
	script(src='js/aboutDecorator.js')
