extends ../layouts/default


block content
	.container
		h1.about__header About our nurses
		.column__left
			h2.about__names Kate McDowell
			span stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff 
		.column__right
			h2.about__names Kate McDowell
			span stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff 
