extends ../layouts/default
include ../mixins/circlePicture


block content
	.container
		h1.about__header About our nurses
		each nurse in nurses
			.two-column-layout
				+circleHead(nurse.image, nurse.name)
				h2.about__names= nurse.name
				.description= nurse.description
