extends ../layouts/default
include ../mixins/circlePicture
	
	
block head
	title NuYu Aesthetics - Meet our team of highly qualified and experienced nurse practitioners that will be administering your treatments. 

block content
	.container
		.about__left-column
			hr
			h1.about__header About NuYu Aesthetics
			hr
			.about__description!= about.aboutNuYu
				
			.about_mobile_nurses
				h1.about__header Meet the team
				each nurse in nurses
					.about__nurse
						+circleHead(nurse.image, nurse.name)
						.about__head-name= nurse.name
						.about__head-role Nurse Practitioner
					
			hr
			h2.text-center Our Nurses
			hr
			.about__description!= about.aboutNurses
				
		
		.about__right-column
			.about__meet-the-team
				h1.about__header Meet the team
				each nurse in nurses
					+circleHead(nurse.image, nurse.name)
					.about__head-name= nurse.name
					.about__head-role Nurse Practitioner

block js
	script(src='js/aboutDecorator.js')
