extends ../layouts/default

block intro
	.container
		h1 Gallery
	
block content
	.container
		if galleries.length
			each gallery in galleries
				.gallery-image--before
					img(src=gallery._.beforeImage.fill(300,250)).img-rounded
					.gallery-image__text Before #{gallery.name}
				.gallery-image--after
					img(src=gallery._.afterImage.fill(300,250)).img-rounded
					.gallery-image__text After #{gallery.name}
		else
			h3.text-muted There are no image galleries yet.
