extends ../layouts/default

block content
	.container 
		h1 Products
		if products.length
			each product in products
				.product
					h2.product__name= product.name
					img(class='product__image' src=product.image.secure_url)
					.product__description= product.description
					
