body {
	font-size: 17px;
	font-family: $font-family-sans-serif;
}
#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.three-column-layout {
	@extend .col-md-4;
	@extend .col-xs-12;
}

.two-column-layout {
	@extend .col-md-6;
	@extend .col-xs-12;
}

#footer {
	@extend .text-center;
	a {
		color: $sassy-pink;
		text-decoration: none;
	}
}
