// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;
$sassy-pink: #FF0080;
$border-color: #eee;
$box-shadow-color: #ccc;

.header-navbar .navbar-brand {
	color: $sassy-pink;
	font-family: sassy;
	font-size: 2em;
}
