.head__holder {
	margin: 1em;
	.head__circle {
		width: 200px;
		margin: 0 auto;
		img {
			transition-duration: 1s;
			width: 200px;
			border-radius: 50%;
			border: 10px solid white;
			box-shadow: 0 0 15px #ccc
		}
	}
}

.about__header,
.about__names {
	text-align: center;
}

.about__left-column {
	@extend .col-md-8;
	@extend .col-xs-12;
}

.about__right-column {
	@extend .col-md-4;
	@extend .col-xs-12;
	@extend .hidden-sm;
	@extend .hidden-xs;
	
}

.about__head-name {
	text-align: center;
	font-weight: bold;
}
.about__head-role {
	text-align: center;
	font-style: italic;
}

.about__description {
	font-size: 16px;
}

.about_mobile_nurses {
	@extend .visible-sm-block;	
	@extend .visible-xs-block;
	
	.about__nurse {
		float: left;
		width: 50%;
	}
	@media (max-width: $screen-xs-max) {
		.about__nurse {
			width: 100%;
		}
	}
}
