.contact__left-column,
.contact__right-column,{
	@extend .two-column-layout;
	padding: 40px;
}

.contact__header {
	@extend .text-center;
}

.contact__details {
	font-size: 17px;
	i {
		padding-right: 5px;
	}

	a {
		color: $sassy-pink;
		&:hover {
			color: purple;
		}
	}

}

.contact__name {
	font-weight: bold;
}

.contact__map {
	width: 250px;
}
