.gallery-image {
	@extend .col-xs-6;
	@extend .col-sm-4;
	@extend .col-md-3;
	float: left;
	height: 300px;
	img {
		margin: 0 auto
	}
}

.gallery-image--before,
.gallery-image--after {
	
	@extend .gallery-image;
	a {
		text-decoration: none;
		color: black;
		&:hover {
			text-decoration: none;
			color: black;
		}
	}
	img {
		transition-duration: .25s;
	}
	
	&:hover img {
		box-shadow: 0px 0px 15px #000;
	}
}

.gallery-image__text {
	text-align: center;
	font-size: 25px;
}

.blueimp-gallery > .title.slide-gallery_title {
	font-size: 30px;
	color: white;
}
