.gallery {
	font-family: $font-family-sans-serif;
}

.gallery__header {
	@extend .text-center;
	font-family: $font-family-sans-serif;
}

.gallery-image {
	@extend .col-xs-6;
	//@extend .col-sm-3;
	//@extend .col-md-3;
	float: left;
	padding-top: 10px;
	img {
		margin: 0 auto
	}
}

.gallery-image--before,
.gallery-image--after {
	@extend .gallery-image;
	a {
		text-decoration: none;
		color: black;
		&:hover {
			text-decoration: none;
			color: black;
		}
	}
	img {
		transition-duration: .25s;
	}
	
	&:hover {
		img {
			opacity: 0.8;
		}
		.gallery__zoom {
			opacity: 1;
		}
	}
}

.gallery-image__text {
	text-align: center;
	font-size: 20px;
}

.blueimp-gallery > .title.slide-gallery_title {
	font-size: 30px;
	color: white;
}

.gallery__zoom {
	position: absolute;
	top: 20px;
	left: 28px;
	color: white;
	transition-duration: .5s;
	opacity: 0;
}

.gallery__container {
	@extend .two-column-layout;
	border: 1px solid #ccc;
}

.gallery__name {
	@extend .text-center;
	font-size: 25px;
	color: $sassy-pink;
}
