@import "_variables";

.home__column-left,
.home__column-middle,
.home__column-right {
	@extend .three-column-layout;
	padding-left: 3%;
	padding-right: 3%;
}

.home__column-middle {
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
}

.home__sub-heading {
	font-family: "Helvetica";
	text-align: center;
}

.find-us__surgery{
	text-align: center;
}
.next-surgery__heading,
.home__latest-news,
.find-us__heading {
	@extend .home__sub-heading;
}

.read-more {
	@extend .pull-right;
	a {
		font-family: "Helvetica";
		font-size: 1.2em;
		color: $sassy-pink;
	}
}

.find-us__map {
	text-align: center;
}

.next-surgery__table {
	@extend .table;
	@extend .table-striped;
	@extend .table-hover;
}

.home__humanized-time {
	font-style: italic;
	color: #ccc;
	padding-bottom: 5px;
}

.home__image {
	@extend .img-responsive;
	width: 500px;
	margin: 0 auto;
}

.home__main-text {
	font-size: 17px;
	padding-top: 10px;
}
.home__main-logo {
	@extend .img-responsive;
}
