@import "_variables";

.home__column-left,
.home__column-middle,
.home__column-right {
	@extend .three-column-layout;
	padding-left: 3%;
	padding-right: 3%;
	margin-bottom: 20px;
}

.home__column-middle {
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
}

.home__sub-heading {
	font-family: $font-family-sans-serif;
	text-align: center;
}

.find-us__surgery{
	text-align: center;
}
.next-clinic__heading,
.home__latest-news,
.home__products {
	@extend .home__sub-heading;
	margin-top: -5px;
}

.home__latest-news,
.home__products {
	padding-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
}

.home__product {
	@extend .text-center;
	font-size: 25px;
	padding: 10px 0;
	
	&:not(:last-of-type) {
		border-bottom: 1px solid #eee;
	}
	
	a {
		color: $sassy-pink;
	}
}

.next-clinic__click,
.read-more {
	@extend .pull-right;
	a {
		font-size: 1.2em;
		color: $sassy-pink;
	}
}

.find-us__map {
	text-align: center;
}

.next-clinic__table {
	@extend .table;
	@extend .table-striped;
	@extend .table-hover;
}

.home__humanized-time {
	font-style: italic;
	color: #ccc;
	padding-bottom: 5px;
}

.home__image {
	@extend .img-responsive;
	width: 500px;
	margin: 0 auto;
}

.home__main-text {
	padding-top: 10px;
}
.home__main-logo {
	@extend .img-responsive;
	margin: 0 auto;
}

.home__bottom-container {
	border-top: 1px solid #eee;
	padding-top: 30px;
}

.testimonial {
	border-left: none;
	&:before {
		color: $sassy-pink;
		content: "\f10d";
		font-family: FontAwesome;
		font-size: 50px;
		float: left;
		margin-right: 10px;
		margin-top: -10px;
	}
}


.next-clinic__heading {
	text-align: center;
}

.next-clinic__heading--no-clinics {
	margin-top: 0;
	margin-bottom: -11px;
	text-align: center;
}


.next-clinic__no-clinic {
	font-size: 24px;
	text-align: center;
}
.next-clinic__call {
	font-size: 20px;
	text-align: center;
}

.next-clinic__call-detail {
	color: $sassy-pink;
}
