.navbar.navbar-default {
	background-color: white;
	border-color: white;
	.navbar-nav {
		.active a {
			background-color: transparent;
			border-bottom: 3px solid $sassy-pink;
			&:hover {
				color: $sassy-pink;
				background-color: transparent;
			}
		}
		li a {
			color: #000;
			transition-duration: 0.25s;
			border-bottom: 3px solid white;
			&:hover {
				border-bottom: 3px solid $sassy-pink;
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.navbar .navbar-brand {
		padding: 8px;
	}
}

.nav {
	font-size: 20px;
}
