.navbar.navbar-default {
	background-color: white;
	border-color: white;
	.navbar-nav {
		.active a {
			color: #777;
			background-color: transparent;
			border-bottom: 3px solid deeppink;
			&:hover {
				color: deeppink;
				background-color: transparent;
			}
		}
		li {
			a {
				transition-duration: 0.25s;
				border-bottom: 3px solid white;
				&:hover {
					border-bottom: 3px solid deeppink;
				}
			}
		}
	}

}

@media (max-width: $screen-xs-max) {
	.navbar .navbar-brand {
		padding: 8px;
	}
}

.nav {
	font-size: 20px;
}
