.product {
	@extend .row;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	&:last-of-type {
		border-bottom: none;
	}
}

.product__name {
	@extend .text-center;
	font-weight: bold;
	padding-bottom: 15px;
}
.product__image {
	@extend .img-responsive;
	margin: 0 auto;
}

.product__description {
	font-size: 20px;
}

.products__header {
	text-align: center;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding: 10px 0;
}

.products__nav {
	display: inline-block;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.products__nav-item {
	@extend .two-column-layout;
	@extend .text-center;
	a {
		color: $sassy-pink;
		font-size: 20px;
	}
}

//Show on mobile
.product__image--mobile {
	@extend .visible-xs-block;
	@extend .visible-sm-block;
}

//Hide on mobile
.product__image--non-mobile {
	@extend .hidden-xs;
	@extend .hidden-sm;
}

//if an image exists, make it a 2 column layout
.product--with-image {
	.product__image {
		@extend .two-column-layout;
	}
	.product__container {
		@extend .two-column-layout;
	}
}
